	/*------------------------------------*\
		#LINKS
	\*------------------------------------*/
	a {
		font-family: $main-font;
		color: $main;
		text-decoration: none;
		}
		
	a:hover {
		border-bottom: 1px solid $main;
		}
		
	a:active, a visited {
		color: $main;
		}
	
	.active {
		border-bottom: 1px solid $main;
		}
	.work-container a {
		border-bottom: 0;	
	}

