	/*------------------------------------*\
		#PAGES
	\*------------------------------------*/
	
	/** LAYOUTS **/
	
	.wrap.container {
		margin: auto;
		}
	
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
	/* Smartphones (portrait and landscape) ----------- */
		.wrap.container {
			max-width: 460px;
			}
	}
	
	@media only screen 
	and (min-width : 321px) {
	/* Smartphones (landscape) ----------- */
		.wrap.container {
			max-width: 640px;
			}
	}
	
	
	@media only screen 
	and (max-width : 320px) {
	/* Smartphones (portrait) ----------- */
		.wrap.container {
			max-width: 300px;
			}
	
	}
	
	
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) {
	/* iPads (portrait and landscape) ----------- */
		.wrap.container {
			max-width: 768px;
			}
	}
	
	
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) {
	/* iPads (landscape) ----------- */
		.wrap.container {
			max-width: 960px;
			}
	}
	
	
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
	/* iPads (portrait) ----------- */
		.wrap.container {
			max-width: 768px;
			}
	
	}
	
	@media only screen 
	and (min-width : 1200px) {
	/* Desktops and laptops ----------- */
		.wrap.container {
			max-width: 1279px;
			}
	}
	
	@media only screen 
	and (min-width : 1700px) {
	/* Large screens ----------- */
		.wrap.container {
			max-width: 1441px;
			}
	}
	
	/* ----------- iPhone 4 and 4S ----------- */

	/* Portrait and Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 480px)
	  and (-webkit-min-device-pixel-ratio: 2) {
		.wrap.container {
			max-width: 460px;
			}
	}
	
	/* Portrait */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 480px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
		  .wrap.container {
			max-width: 460px;
			}
	}
	
	/* Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 480px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) {
		  .wrap.container {
			max-width: 460px;
			}
	}
	
	/* ----------- iPhone 5 and 5S ----------- */
	
	/* Portrait and Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2) {
		.wrap.container {
			max-width: 460px;
			}
	}
	
	/* Portrait */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) {
		  .wrap.container {
			max-width: 460px;
			}
	}
	
	/* Landscape */
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 568px)
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) {
		.wrap.container {
			max-width: 460px;
			}
	}
	
	/* ----------- iPhone 6 ----------- */
	
	/* Portrait and Landscape */
	@media only screen 
	  and (min-device-width: 375px) 
	  and (max-device-width: 667px) 
	  and (-webkit-min-device-pixel-ratio: 2) { 
		.wrap.container {
			max-width: 460px;
			}
	}
	
	/* Portrait */
	@media only screen 
	  and (min-device-width: 375px) 
	  and (max-device-width: 667px) 
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: portrait) { 
		.wrap.container {
			max-width: 460px;
			}
	}
	
	/* Landscape */
	@media only screen 
	  and (min-device-width: 375px) 
	  and (max-device-width: 667px) 
	  and (-webkit-min-device-pixel-ratio: 2)
	  and (orientation: landscape) { 
		.wrap.container {
			max-width: 460px;
			}
	}
	
	/* ----------- iPhone 6+ ----------- */
	
	/* Portrait and Landscape */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3) { 
		.wrap.container {
			max-width: 460px;
			}
	}
	
	/* Portrait */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: portrait) { 
		.wrap.container {
			max-width: 460px;
			}
	}
	
	/* Landscape */
	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: landscape) { 
		.wrap.container {
			max-width: 460px;
			}
	}
	
	
	
	/*------------------------------------*\
    	#WORK
	\*------------------------------------*/
	
	/*** WORK IMAGE FEED ***/
	.work-container {
		margin: 20px;
		}
	
	.work-title {
		padding-top: 1rem;
		text-align: center;
		font-size: 0.6rem;
		letter-spacing: 0.4rem;
		}
		
	/*------------------------------------*\
    	#CONTACT
	\*------------------------------------*/
	
	/*** STUDIO INFO ***/
	#studio-info {
		margin-top: 8rem;
		}
	
	.studio-item, .contact-form, .employees {
		margin: auto;
		width: 60%;
		text-align: center;
	}
	
	.studio-item p, .contact-form p, .employees p {
		font-size: 0.6rem;
		letter-spacing: 0.1rem;
	}
	
	.employees p:first-child {
		font-size: 0.7rem;
		letter-spacing: 0.1rem;
		padding-bottom: 0.2em;
		}
	
	.contact-heading h2 {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		letter-spacing: 0.1rem;
	}
	
	.employee-name h2 {
		font-size: 0.9rem;
		letter-spacing: 0.1rem;	
		}
	
	.contact-form {
		margin-bottom: 4rem;
	}
	
	#employees-list {
		margin-top: 4rem;
		}
	
	#conatct-footer {
		margin-top: 4rem;
		}	
	
	/*------------------------------------*\
    	#EXHIBITIONS
	\*------------------------------------*/
	
	/*** SWIPER CAROUSEL***/
	.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    } 
	
	.swiper-pagination-bullet {
		display: none;
		visibility: hidden;
		}
	
	.swiper-pagination-bullet-active {
		display: block;
		visibility: visible;
		}
	

	
	
	
	