.sidebar {
	position: fixed;
	height: 100vh;
	padding: 0.8rem;
	background-color: $bg;
	top: 0;
	right: 1.5rem;
	z-index: 10;
	-webkit-transition: right 0.3s ease;
    transition: right 0.3s ease;
	}

.sidebar.expanded {
	right: 0rem;
	}

.sidebar-content {
	text-align: center;
	margin-top: 0.7rem;
	}
	
.sidebar-content .visibility {
    opacity: 1;
	-webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
	margin-top: 51px;
}

.sidebar-content .visibility.ng-hide {
    opacity: 0;
}

#menu-button {
	width: 25px;
	position: absolute;
	right: 1rem;
	top: 0;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.edge {
	position: absolute;
	width: 10px;
	height: 100vh;
	top: 0;
}