	/*------------------------------------*\
		#NAV
	\*------------------------------------*/
	
	/*** SIDEBAR MAIN MENU ***/
	#menu-main-menu li {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		}
	
	#menu-main-menu li a {
		letter-spacing: 0.4rem;
		}
	
	/*** SIDEBAR MENUS ***/
	#menu-category-menu, #menu-exhibition-menu {
		margin-top: 3rem;
		}
	
	#menu-category-menu li, #menu-exhibition-menu li {
		margin-top: 0.1rem;
		margin-bottom: 0.1rem;
		}
	
	#menu-category-menu li a, #menu-exhibition-menu li a {
		font-size: 0.6rem;
		letter-spacing: 0.3rem;
		}
	
	


