	/*------------------------------------*\
		#NAV
	\*------------------------------------*/
	
	/*** SIDEBAR MAIN MENU ***/
	#menu-main-menu li {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		}
	
	#menu-main-menu li a {
		letter-spacing: 0.4rem;
		}
	
	


